<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Centered and Responsive Image</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- Optional: Add your custom styles here -->
  <style>
    

    .center-div {
      text-align: center;
    }

    /*.center-image {
      max-width: 100%;
      height: 100%;
    }*/

    .center-image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Adjust as needed */
      }
  </style>


  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <!-- Lottie Library -->
  <script src="https://cdn.jsdelivr.net/npm/lottie-web@5.7.1"></script>
</head>
<body>

 
      <div class="container-fluid center-image">
        <!-- Your Image -->

        <lottie-player src="/lottiefiles/404.json" background="transparent"  speed="1"  loop autoplay class="img-fluid"></lottie-player>
        <!-- <img src="your-image.jpg" alt="Your Image" class="center-image"> -->
      </div>


  <!-- Bootstrap JS and Popper.js (Optional) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>