<div class="container-fluid">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title"><b>Report Password</b></h3>
        <div class="row mt-3">
          <div class="form-group col-6">
            <label for="dev_id"><b style="color: black;">Device Id:</b></label>
            <select name="dev_id" class="form-control" id="dev_id" required>
              <option value="">Select Device Id</option>
              <% data.msg.forEach(function(item2,index) { %>
                <option value="<%=item2.app_id%>">
                  <%=item2.app_id%>
                </option>
                <% }); %>
            </select>
          </div>
          <div class="form-group col-md-4" style="margin-top: 30px;">
            <button type="submit" class="btn btn-success" style="border-radius: 5px;" id="submitBtn">Submit</button>
          </div>
        </div>
        <div class="row" id="details">
          <form action="/report_password_save" method="post">
            <div class="row mt-3" style="margin-left: 2px;">
            
              <div class="form-group col-md-6">
                <label for="app_id"><b style="color: black;">App Id:</b></label>
                <input type="text" id="app_id" name="app_id" class="form-control" value="" readonly />
              </div>
            
              <div class="form-group col-md-6">
                <label for="pwd"><b style="color: black;">Password:</b></label>
                <input type="password" id="pwd" name="pwd" class="form-control" value=""
                  placeholder="Enter password here....." />
              </div>
              <div class="form-group col-md-12">
                <button type="submit" class="btn btn-success" style="border-radius: 5px;">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



<script>
  $('#details').hide();
  $('#submitBtn').click(function () {
    var dev_id = $('#dev_id').val();

    $.ajax({
      type: "POST",
      url: "/password_dt",
      data: { dev_id: dev_id },
      success: function (response) {
        console.log(response);
        $('#set_id').val(response.msg[0].setting_id);
        $('#app_id').val(response.msg[0].app_id);
        $('#cust_id').val(response.msg[0].customer_id);
        $('#pwd').val(response.msg[0].password);
        $('#details').show();
      },
      error: function (error) {
        console.log(error);
        // Hide the details section on error
        $('#details').hide();
      },
    });
  });
</script>