<div class="container-fluid">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Device Setting</h3>
          <div class="row mt-5">
            <div class="form-group col-6">
              <label for="dev_id"><b style="color: black;">Device Id:</b></label>
              <select name="dev_id" class="form-control" id="dev_id" required>
                <option value="">Select Device Id</option>
                <% data.msg.forEach(function(item2,index) { %>
                  <option value="<%=item2.app_id%>">
                    <%=item2.app_id%>
                  </option>
                  <% }); %>
              </select>
            </div>
            <div class="form-group col-md-4" style="margin-top: 30px;">
              <button type="submit" class="btn btn-success" style="border-radius: 5px;" id="submitBtn">Submit</button>
            </div>
          </div>
          <div class="table-responsive">
            <table id="example" class="table table-striped table-bordered show_data" style="width:100%">
              <thead>
                <tr>
                  <th class="text-dark">Sl. No.</th>
                  <th class="text-dark">Customer Name</th>
                  <th class="text-dark">App ID</th>
                  <th class="text-dark">Password</th>
                  <th class="text-dark">Dev Mode</th>
                  <th class="text-dark">Report Flag</th>
                  <th class="text-dark">Total Collection</th>
                  <th class="text-dark">Advance Pay</th>
                  <th class="text-dark">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td colspan="9" class="text-danger text-center">No Data Found</td>
                </tr>
              </tbody>
            </table>
        </div>
        </div>
      </div>
    </div>
  </div>


  <!-- <script>
    $('#submitBtn').click(function () {
        var dev_id = $('#dev_id').val();

      var tbody = $(".show_data tbody");
      $.ajax({
        type: "GET",
        url: "/device/device_details",
        data: { dev_id: dev_id },
        success: function (response) {
          tbody.empty();
          if (response.suc > 0 && response.msg.length > 0){
            response.msg.forEach(function (item, index) {
          var flag=1;
              var row =
                "<tr>" +
                "<td class='text-dark'>" +
                (index + 1) +
                "</td>" +
                "<td class='text-dark'>" +
                item.customer_name +
                "</td>" +
                "<td>" +
                "<h3><span class='badge " + (item.header1_flag == flag ?  'badge-success' : 'badge-danger') + "'>" +
                (item.header1_flag == flag ? 'Active' : 'Deactive') +
                "</h3></span>" +
                "</td>" +
                "<td>" +
                "<h3><span class='badge " + (item.header2_flag == flag ?  'badge-success' : 'badge-danger') + "'>" +
                (item.header2_flag == flag ? 'Active' : 'Deactive') +
                "</h3></span>" +
                "</td>" +
                "<td>" +
                "<h3><span class='badge " + (item.header3_flag == flag ?  'badge-success' : 'badge-danger') + "'>" +
                (item.header3_flag == flag ? 'Active' : 'Deactive') +
                "</h3></span>" +
                "</td>" +
                "<td>" +
                "<h3><span class='badge " + (item.header4_flag == flag ?  'badge-success' : 'badge-danger') + "'>" +
                (item.header4_flag == flag ? 'Active' : 'Deactive') +
                "</h3></span>" +
                "</td>" +
                "<td>" +
                "<h3><span class='badge " + (item.footer1_flag == flag ?  'badge-success' : 'badge-danger') + "'>" + 
                (item.footer1_flag == flag ? 'Active' : 'Deactive') +
                "</h3></span>" +
                "</td>" +
                "<td>" +
                "<h3><span class='badge " + (item.footer2_flag == flag ?  'badge-success' : 'badge-danger') + "'>" +
                (item.footer2_flag == flag ? 'Active' : 'Deactive') +
                "</h3></span>" +
                "</td>" +
                "<td>" +
                  "<h3><span class='badge " + (item.footer3_flag == flag ?  'badge-success' : 'badge-danger') + "'>" +
                (item.footer3_flag == flag ? 'Active' : 'Deactive') +
                "</h3></span>" +
                "<td>" +
                  "<h3><span class='badge " + (item.footer4_flag == flag ?  'badge-success' : 'badge-danger') + "'>" +
                  (item.footer4_flag == flag ? 'Active' : 'Deactive') +
                  "</h3></span>" +
                "</td>" +
                "<td><a href='/header/edit_header_footer_details?customer_id="+item.customer_id+"' class='btn btn-info'><i class='fa fa-edit'></i></a></td>" +
                "</tr>";
              tbody.append(row);
           });
          }else {
            $('.show_data tbody').append(`
              <tr>
                <td colspan="11" class="text-danger text-center">No data found</td>
              </tr>
            `)
          }
  
        },
        error: function (error) {
          console.log(error);
          tbody.empty();
          
        },
      });
  
    });
  </script>
   -->